
\.idea/

cmake-build-debug/

\.DS_Store

CMakeLists\.txt

Build/x64/Debug/CMakeFiles/clion-log\.txt

Build/x64/Release/CMakeFiles/clion-log\.txt

Build/x86/Debug/CMakeFiles/clion-log\.txt

Build/x86/Release/CMakeFiles/clion-log\.txt

\.vscode/settings\.json

\.vscode/c_cpp_properties\.json

\.vscode/launch\.json

Lora_IPS\.code-workspace
